In [ ]:
import pandas as pd

In [ ]:
pd.Series([10, 20, 30, 40])

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}
df = pd.DataFrame(data)
df

In [ ]:
df.to_csv("person_output.csv")

In [ ]:
pd.read_csv("person_output.csv")

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df[['Age', 'Name']]

In [ ]:
df

In [ ]:
df["Bonus"] = df["Salary"] *0.1

In [ ]:
df

In [ ]:
df["new column"] = "a"

In [ ]:
df

In [ ]:
df["total slary"] = df["Salary"] + df["Bonus"]
df

In [ ]:
df

In [ ]:
data2 = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Mario'],
    'Age': [25, 30, 35, 25],
    'Salary': [50000, 60000, 70000, 70000]
}
df2 = pd.DataFrame(data2)
df2

In [ ]:
df2.groupby("Age").agg({
    "Salary": "mean",
    "Name": "count"
})

In [ ]:
df2.groupby("Age").count()

In [ ]:
data3 = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Mario'],
    'Nationality': ['ITA', 'USA', 'USA', 'ITA']
}
df3 = pd.DataFrame(data3)
df3

In [ ]:
merged_df=pd.merge(df2, df3, on="Name", how="inner")
merged_df

In [ ]:
import seaborn as sns

In [ ]:
sns.barplot(x='Nationality', y='Salary', data=merged_df)